.header{
	height: 150px;
	display:flex;
	padding: 50px 50px;	
	font-family: "Oswald";
	font-weight: bold;
	border-style:hidden hidden solid hidden;	
	border-bottom-width: 2px;
	border-color: rgb(237, 235, 235);	
}

#logo{
	size: inherit;
	margin-right: 20px;
}

#header_name{	
	position: relative;
	bottom: 17px;
	font-size: 50px;	
	color:  rgb(199, 23, 4);	
}

#header_description{
	position: relative;	
	top: 10px;
	margin-left: 30px;
	font-size: 25px;
	color: gray;
	opacity: 0.4;
}

#header_contacts{
	position: absolute;
	right: 50px;
	color:  rgb(199, 23, 4);	
	line-height: 40px;
	font-size: 30px;	
}

#title{
	margin-bottom: 30px;
	font-size: 40px;
	font-weight: bold;
}

#or{
	position: absolute;
	bottom: 0;
	padding-left: 20px;
}

#Purchase-button{
	width: 105%;
	height: 150%;
	background:linear-gradient(to bottom, rgb(255, 162, 0),rgb(255, 121, 18)); 
	border-radius: 20px;
	font-family: "Arial";
	font-weight: bold;
	color: rgb(69, 69, 69);
	border-style: solid;
	border-color: rgb(237, 237, 237);
	border-width: 5px;
}

#Tour-button{
	width: 105%;
	height: 150%;
	background:linear-gradient(to bottom, rgb(255, 252, 250),rgb(237, 234, 232)); 
	border-radius: 20px;
	font-family: "Arial";
	font-weight: bold;
	color: rgb(69, 69, 69);
	border-style: solid;
	border-color: rgb(237, 237, 237);
	border-width: 5px;
}

.subtitle{
	font-size: 23px;
	font-weight: bold;
}

.list-item{
	color: orange;
}